In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join

Getting the list of files to be processed

In [2]:
# competition
# indir = '/Users/gorkalasso/Dropbox (EinsteinMed)/Elisa_platform/megan_competition_elisas/PCDH1 Mapping_ Competition ELISAs of EC1 mutants/'
# indir = '/Users/gorkalasso/Dropbox (EinsteinMed)/Elisa_platform/megan_pcdh1_gngc/10_27_21/PCDH1 Mapping_ Competition ELISAs of EC1 mutants/'
# neutralization
# indir = '/Users/gorkalasso/Dropbox (EinsteinMed)/Elisa_platform/megan_pcdh1_gngc/PCDH1 Mapping_ rVSV-ANDV Neutralization with EC1 mutants/'
indir = '/Users/gorkalasso/Dropbox (EinsteinMed)/Elisa_platform/megan_pcdh1_gngc/10_27_21/PCDH1 Mapping_ rVSV-ANDV Neutralization with EC1 mutants/'
filelist = []
for f in listdir(indir):
    if not isfile(join(indir, f)):
        continue
    if (not '.xlsx' in f) or (f[0:1] == '~'):
        continue
#     print(f)
    filelist.append(f)
print('Files to normalize: ', len(filelist))

Files to normalize:  14

Normalize each file and concatenate them

In [3]:
df = pd.DataFrame()
for c, f in enumerate(filelist):
#     if c > 0:
#         break
    print(c, f)
    # Loading excel into dataframe
    df0 = pd.concat(pd.read_excel(indir + f, sheet_name=None), ignore_index=True)
    # Renaming columns
    df0 = df0.rename(columns={'Unnamed: 0': 'Instance'})
    for col in df0.columns:
#         print(col)
        if isinstance(col, float):
#             print('\tfloat')
            df0 = df0.rename(columns={col: "{:.6f}".format(col)})
#     display(df0)
    # Normalizing
    df1 = df0.copy()
    df1.iloc[:,1:] = df0.iloc[:,1:].div(df0['Control'], axis=0)*100
#     display(df1)
    # Adding to main dataframe
    df1['File'] = f
    df = pd.concat([df, df1])
# df.to_excel('competition_elisa_normalized.xlsx')
df.to_excel('neutralization_normalized.xlsx')

0 EC1-Mapping-Neut-Experiment-updated-14.xlsx
1 EC1-Mapping-Neut-Experiment-updated-9.xlsx
2 EC1-Mapping-Neut-Experiment-updated-5.xlsx
3 EC1-Mapping-Neut-Experiment-updated-4.xlsx
4 EC1-Mapping-Neut-Experiment-updated-8.xlsx
5 EC1-Mapping-Neut-Experiment-updated-3.xlsx
6 EC1-Mapping-Neut-Experiment-updated-12.xlsx
7 EC1-Mapping-Neut-Experiment-updated-13.xlsx
8 EC1-Mapping-Neut-Experiment-updated-2.xlsx
9 EC1-Mapping-Neut-Experiment-updated-1.xlsx
10 EC1-Mapping-Neut-Experiment-updated-10.xlsx
11 EC1-Mapping-Neut-Experiment-updated-11.xlsx
12 EC1-Mapping-Neut-Experiment-updated-7.xlsx
13 EC1-Mapping-Neut-Experiment-updated-6.xlsx

In [4]:
display(df0)

,Instance,5,1.666667,0.555556,0.185185,0.061728,0.020576,0.006859,0.002286,0.000762,Control
0,wt,1.62,3.17,7.42,12.85,20.01,25.41,33.07,31.91,36.38,38.06
1,wt,1.32,3.59,6.81,11.60,19.18,22.28,31.81,31.88,34.15,38.02
2,L77A,18.78,25.34,29.06,31.17,32.33,33.52,32.39,33.98,36.68,34.53
3,L77A,17.64,24.34,28.72,26.31,32.87,34.84,34.74,34.08,31.75,36.04
4,A78R,8.33,12.65,15.67,20.44,24.89,28.94,33.08,33.14,33.81,35.01
5,A78R,7.88,12.72,16.49,24.20,25.70,30.43,33.88,34.43,35.54,36.41
6,A79S,2.79,4.89,7.98,13.26,18.66,28.08,32.61,33.21,35.27,35.03
7,A79S,3.01,4.23,7.14,12.10,20.01,25.53,30.97,33.20,36.68,36.71
8,D80A,20.06,27.97,30.59,34.56,35.37,36.16,36.80,37.58,37.30,38.14
9,D80A,19.38,26.14,31.51,35.81,36.28,33.82,34.97,36.58,35.82,38.44
10,Y81A,30.29,32.49,34.06,37.71,37.17,35.99,35.90,35.38,36.71,36.28
11,Y81A,29.19,31.71,33.19,33.15,36.06,35.45,35.00,34.16,33.73,35.71
12,G82R,21.87,29.28,30.60,30.70,31.64,33.78,34.46,33.72,33.12,35.29
13,G82R,17.73,27.27,27.28,29.88,31.43,31.15,31.71,32.94,32.69,31.34